<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="/stylesheets/reset.css">
        <link rel="stylesheet" href="/stylesheets/styles.css">
        <link rel="stylesheet" href="/stylesheets/analytics.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300&display=swap">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://unpkg.com/frappe-charts@1.1.0/dist/frappe-charts.min.iife.js"></script>
        <script type="text/javascript" src="/scripts/analytics.js" async></script>
        <script type="text/javascript" src="/scripts/fileClient.js" async></script>
    </head>
    <body>

        <div class ="wrapper">    
            
            <!-- ////////////////////////////Main Sidebar//////////////////////////// -->
            <div class = "sidebar">
                <div class="site-title">
                    <span style="color:aqua">ERP</span>Project
                </div>
                <nav>
                    <div class="nav-link" id="dashboard"><i class="material-icons" id="sidebar-icon"><a href="/dashboard.html" class="sidebar-link">dashboard</i>Dashboard</a></div>
                    <div class="nav-link" id="inventory"><i class="material-icons" id="sidebar-icon"><a href="/inventory.html" class="sidebar-link">list_alt</i>Inventory</a></div>
                    <div class="nav-link" id="sales"><i class="material-icons" id="sidebar-icon"><a href="/sales.html" class="sidebar-link">monetization_on</i>Sales</a></div>
                    <div class="nav-link" id="analytics"><i class="material-icons" id="sidebar-icon">insert_chart</i>Analytics</div>
                    <div class="nav-link" id="reports"><i class="material-icons" id="sidebar-icon"><a href="/reports.html" class="sidebar-link">pie_chart</i>Reports</a></div>
                    <div class="nav-link" id="documents"><i class="material-icons" id="sidebar-icon"><a href="/documents.html" class="sidebar-link">insert_drive_file</i>Documents</a></div>
                </nav>
                <div class="sidebar-bottom">
                </div>
            </div>
            <!-- ////////////////////////////Main Sidebar End//////////////////////////// -->
            
            <div class="main">
                <div class="page-header" id="multi-banner">
                    <div id="banner-title">Analytics</div>
                </div>
                <div class="analytics-inner">
                    <div class="module" id="top-module">
                        <div class="module-title">Monthly Sales</div>
                        <div id="heat-map"></div>
                    </div>
                    <div class="module" id="left-module">
                        <div class="module-title">Surplus &amp; Stockout</div>
                        <div id="chart"></div>            
                    </div>
                    <div class="module" id="right-module">
                        <div class="module-title">Profit &amp; Loss</div>
                        <div id="right"></div>
                    </div>
                    <div class="module" id="bottom-module">
                        <div class="module-title">Forecast Demand</div>
                        <div id="regression"></div>
                    </div>
                </div>
            </div>
        </div>
        
        <footer>
            &copy; SE ERP Project | CS4273 | 2020
        </footer>
    </body>
</html>