<!DOCTYPE html>
<html>
    <head>
        <title>Can't Find Page</title>
        <script>
            function goBack() {
                window.history.back();
            }
        </script>
        <link rel ="stylesheet" href="/stylesheets/error.css">
    </head>
    <body>
        <span id="header-text"><span style="color: aqua">Uh Oh.</span><br> Something went wrong.</span>
        <div id="wrapper">
            <button id="back-page" onclick="goBack()">Go Back</button>
            <div id="error-image-container">
                <img class="scale-down" id="error-img" src="/images/error_image_large.jpg">
                </div>
        </div>
    </body>
</html>