<!DOCTYPE html>
<html lang="en">
    <head>        
        <meta charset="utf-8">
        <title>ERP Project</title>
        <link rel="icon" type="image/png" href="/images/favicon-16x16.png" sizes="16x16">
        <link rel="icon" type="image/png" href="/images/favicon-48x48.png" sizes="48x48">
        <link rel="icon" type="image/png" href="/images/favicon-32x32.png" sizes="32x32">
        
        <link rel="stylesheet" href="/stylesheets/reset.css">
        <link rel="stylesheet" href="/stylesheets/login.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300&display=swap">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    </head>
    <body>
        <div class="github-logo-container">
            <a href="https://github.com/Jackschwarz58/SoftwareEngineeringERP">
                <img src="/images/GitHub-Mark-Light-32px.png"></a>
        </div>
        
        <div class ="wrapper">    
            <div class="main">
                <div class="page-header">
                    <div id="banner-title"><span style="color:aqua">ERP</span>Project</div>
                </div>
                <span id="page-subheading">
                    ERP Project is an <span style="color:aqua;">in-progress</span> inventory management website designed by students at The University of Oklahoma during their CS 4273 course. <br><br>Please note that this web application has been tested and confirmed to function correctly on Chrome only.<br><br><br><br> <span style="font-size: 1.5vw;">Please <span style="color:aqua;">Click Below<!--Login--></span> to Continue</span><br>
                </span>
                <a class="button" id= "enter-link" href="/dashboard.html">CLICK TO CONTINUE</a>
            </div>
            <!--
            <div class="login-fields">
                <form id="login-form">
                    <input type="text" name="username" id="username-field" class="login-form-field" placeholder="Username">
                    <input type="password" name="password" id="password-field" class="login-form-field" placeholder="Password">
                    <input type="submit" value="Login" id="login-form-submit" class="login-form-buttons">
                    <input type="submit" value="Create Account" id="login-form-create" class="login-form-buttons">
                </form>
            </div>-->
            
        </div>
        
        <footer>
            &copy; SE ERP Project | CS4273 | 2020
        </footer>
    </body>
</html>