<!DOCTYPE html>
<html lang="en">
    <head>
        <title>ERP Project</title>
        <link rel="stylesheet" href="/stylesheets/reset.css">
        <link rel="stylesheet" href="/stylesheets/styles.css">
        <link rel="stylesheet" href="/stylesheets/autocomplete.css">
        <link rel="stylesheet" href="/stylesheets/modal.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300&display=swap">
        <link rel="stylesheet" href="https://unpkg.com/tabulator-tables@4.5.3/dist/css/tabulator.min.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

        <script type="text/javascript" src="https://unpkg.com/tabulator-tables@4.5.3/dist/js/tabulator.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script type="text/javascript" src="/scripts/autocomplete.js" async></script>
        <script type="text/javascript" src="/scripts/fileClient.js" sync></script>
        <script type="text/javascript" src="/scripts/script.js" async></script>
        <script type="text/javascript" src="/scripts/tabs.js" async></script>
        <script type="text/javascript" src="/scripts/sidebar.js" async></script>
    </head>
    <body>
        <!-- ////////////////////Modals Hidden for Later Activation//////////////////// -->
        <div id="addModal" class="modal">
            <div class="modal-content">
                <span class="close">&times;</span>

                <div id="modal-header">
                    New Item...
                </div>

                <div class="modal-input-content" id="name-input-content">
                    <span class="modal-subheading" id="name-subheading">Name:<span class="required-tag">* </span></span>
                    <div class="autocomplete">
                        <input placeholder="Name..." class="input-field" id="add-name-field" type="text" name="name" autocomplete="off">
                    </div>
                </div>

                <div class="modal-input-content" id="nums-content">
                    <div id="quan-input-section">
                        <span class="modal-subheading" id="quan-subheading">Quantity:<span class="required-tag">* </span></span>
                        <input placeholder="10" class="input-field-number" id="add-quan-field" type="number" min="1">
                    </div>

                    <div id="price-input-section">
                        <span class="modal-subheading" id="price-subheading">Price <span class="price-qualifier">(USD)</span>:</span>
                        <input id="add-price-field" placeholder="19.99" class="input-field-number" type="number" min="0">
                    </div>
                </div>

                <div class="modal-input-content" id="desc-input-content">
                    <span class="modal-subheading" id="description-subheading">Description: </span>
                    <textarea placeholder="Item Description..." class="input-field-large" id="add-desc-field" type="text" name="desc" rows="3" cols="50"></textarea>
                </div>

                <div class="modal-input-content" id="tags-input-content">
                    <div id ="tags-top-row"><span class="modal-subheading" id="tags-subheading">Tags: </span>
                        <button type="button" class="more-button" id="more-tags-button">Add</button>
                    </div>
                    <div id="tag-field-container">
                        <input placeholder="Tag" class="input-field add-tags-field" type="text" name="tags" size="10"></div>
                </div>

                <div class="modal-confirm-buttons">
                    <button class="modal-footer-button" id="confirmAdd" onclick="addNew()">Add</button>
                    <button class="modal-footer-button" id="cancelAdd">Cancel</button>
                </div>

            </div>
        </div>

        <div id="editModal" class="modal">
            <div class="modal-content">
                <span class="close-edit">&times;</span>

                <div id="modal-header">
                    Edit Item...
                </div>

                <div class="modal-input-content" id="name-input-content">
                    <span class="modal-subheading" id="name-subheading">Name: </span>
                    <input placeholder="Name..." class="input-field" id="editNameInput" type="text" name="name">
                </div>

                <div class="modal-input-content" id="nums-content">
                    <div id="quan-input-section">
                        <span class="modal-subheading" id="quan-subheading">Quantity: </span>
                        <input placeholder="10" class="input-field-number" id="editQuanInput" type="number" min="1">
                    </div>

                    <div id="price-input-section">
                        <span class="modal-subheading" id="price-subheading">Price <span class="price-qualifier">(USD)</span>:</span>
                        <input id="editPriceInput" placeholder="19.99" class="input-field-number" type="number" min="0">
                    </div>
                </div>

                <div class="modal-input-content" id="desc-input-content">
                    <span class="modal-subheading" id="description-subheading">Description: </span>
                    <textarea placeholder="Item Description..." class="input-field-large" id="editDescInput" type="text" name="desc" rows="3" cols="50"></textarea>
                </div>

                <div class="modal-input-content" id="tags-input-content">
                    <div id ="tags-top-row"><span class="modal-subheading" id="tags-subheading">Tags: </span>
                        <button type="button" class="more-button" id="more-tags-button-edit">Add</button>
                    </div>
                    <div id="tag-field-container">
                        <input placeholder="Tag" class="input-field" id="editTagsInput" type="text" name="tags" size="10"></div>
                </div>

                <div class="modal-confirm-buttons">
                    <button class="modal-footer-button" id="remove-item-edit" onclick="removeItem()">Delete</button>
                    <button class="modal-footer-button" id="confirm-edit" onclick="applyEdit()">Apply</button>
                    <button class="modal-footer-button" id="cancel-edit">Cancel</button>
                </div>
            </div>
        </div>

        <div class ="wrapper">    

            <!-- ////////////////////////////Main Sidebar//////////////////////////// -->
            <div class = "sidebar">
                <div class="site-title">
                    <span style="color:aqua">ERP</span>Project
                </div>
                <nav>
                    <div class="nav-link" id="dashboard"><i class="material-icons" id="sidebar-icon"><a href="/dashboard.html" class="sidebar-link">dashboard</i>Dashboard</a></div>
                    <div class="nav-link" id="inventory"><i class="material-icons" id="sidebar-icon">list_alt</i>Inventory</div>
                    <div class="nav-link" id="sales"><i class="material-icons" id="sidebar-icon"><a href="/sales.html" class="sidebar-link">monetization_on</i>Sales</a></div>
                    <div class="nav-link" id="analytics"><i class="material-icons" id="sidebar-icon"><a href="/analytics.html" class="sidebar-link">insert_chart</i>Analytics</a></div>
                    <div class="nav-link" id="reports"><i class="material-icons" id="sidebar-icon"><a href="/reports.html" class="sidebar-link">pie_chart</i>Reports</a></div>
                    <div class="nav-link" id="documents"><i class="material-icons" id="sidebar-icon"><a href="/documents.html" class="sidebar-link">insert_drive_file</i>Documents</a></div>
                </nav>
                <div class="sidebar-bottom">
                    <button type="button" id="download-button"><i class="material-icons" id="sidebar-cloud-icon">cloud_download</i> <span>Download CSV</span></button>
                </div>
            </div>
            <!-- ////////////////////////////Main Sidebar End//////////////////////////// -->

            <div class="main">
                <div class="page-header" id="inventory-banner">
                    <div class="banner-left">Inventory</div>

                    <div class="banner-center">
                        <select class="table-filter table-dropdown" id="table-field-list" placeholder="Category">
                            <option value="id">ID</option>
                            <option value="name">Name</option>
                            <option value="quan">Quantity</option>
                            <option value="desc">Desc.</option>
                            <option value="tags">Tags</option>
                            <option value="ex">Price</option>
                        </select>
                        <select class="table-filter table-dropdown" id="type-field-list">
                            <option value="like">Contains</option>
                            <option value="=">=</option>
                            <option value=">">></option>
                            <option value=">=">>=</option>
                            <option value="<">&lt;</option>
                            <option value="<=">&lt;=</option>
                            <option value="!=">!=</option>
                        </select>

                        <input type="text" class="table-filter" id="filter-field" placeholder="Filter.."><button type="submit" class="top-filter-button" id="search-filter-button"><i class="material-icons">search</i></button><button type="clear" class="top-filter-button" id="clear-filter-button">Reset</button>
                    </div>

                    <div class="top-actions">
                        <button type="button" class="table-button" id="openAdd"><i class="material-icons" id="table-icon" title="Add Item">add</i><span class="table-button-text"></span></button>
                    </div>
                </div>

                <div class="inner">
                    <div id="table"></div>
                </div>
            </div>
        </div>

        <footer>
            &copy; SE ERP Project | CS4273 | 2020
        </footer>
    </body>
</html>