<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Sales</title>
        <link rel="icon" type="image/png" href="/images/favicon-16x16.png" sizes="16x16">
        <link rel="icon" type="image/png" href="/images/favicon-48x48.png" sizes="48x48">
        <link rel="icon" type="image/png" href="/images/favicon-32x32.png" sizes="32x32">
        
        <link rel="stylesheet" href="/stylesheets/reset.css">
        <link rel="stylesheet" href="/stylesheets/sidebar.css">
        <link rel="stylesheet" href="/stylesheets/index.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300&display=swap">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        
        <script src="https://unpkg.com/frappe-charts@1.1.0/dist/frappe-charts.min.iife.js"></script>
        <script type="text/javascript" src="scripts/sidebar.js" async></script>

        
    </head>
    <body>

        <div class ="wrapper">    
            <!-- ////////////////////////////Main Sidebar//////////////////////////// -->
            <div class = "sidebar">
                <div class="site-title">
                    <a href="/" id="title-link"><span style="color:aqua">ERP</span>Project</a>
                </div>
                <nav>
                    <div class="nav-link" id="activities"><i class="material-icons" id="sidebar-icon">dashboard</i>Dashboard</div>
                    <div class="nav-link" id="inventory"><i class="material-icons" id="sidebar-icon"><a href="/inventory.html" class="sidebar-link">list_alt</i>Inventory</a></div>
                    <div class="nav-link" id="sales"><i class="material-icons" id="sidebar-icon"><a href="/sales.html" class="sidebar-link">monetization_on</i>Sales</a>Sales</div>
                    <div class="nav-link" id="reports"><i class="material-icons" id="sidebar-icon">pie_chart</i>Reports</div>
                    <a href="analytics.html" class="sidebar-link"><div class="nav-link" id="analytics"><i class="material-icons" id="sidebar-icon">insert_chart</i>Analytics</div></a>
                    <div class="nav-link" id="documents"><i class="material-icons" id="sidebar-icon">insert_drive_file</i>Documents</div>
                </nav>
                <div class="sidebar-bottom">
                    <button type="button" id="download-button"><i class="material-icons" id="sidebar-cloud-icon">cloud_download</i> <span>Download CSV</span></button>
                </div>
            </div>
            <!-- ////////////////////////////Main Sidebar End//////////////////////////// -->
            
            <div class="main">
                <div class="page-header" id="dashboard-banner">
                    <div id="banner-title">Sales</div>
                    <div class="top-actions">
                        <!--<button type="button" class="table-button" id="openAdd"><i class="material-icons" id="table-icon" title="Report a Sale">receipt</i><span class="table-button-text"></span></button>
                        
                        <button type="button" class="table-button"><i class="material-icons" id="table-icon" title="Add Inventory">note_add</i><span class="table-button-text"></span></button>-->
                    </div>
                </div>
                <div class="sales-inner">
                </div>
            </div>
        </div>
        
        <footer>
            &copy; SE ERP Project | CS4273 | 2020
        </footer>
    </body>
</html>