.analytics-inner {
    display:grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 30% 40% 30%;
    grid-template-areas: 
        /*"top top top top"
        "left right right right"
        "btm btm btm btm";*/
        "top top"
        "left right"
        "btm btm";
    grid-gap: 1%;
    padding: 0.5%;
    overflow: hidden;

}

.module {
    padding: 10px;
    overflow: auto;
    background-color: #dfe4ed;
}
.module:hover{
    background-color: #a7beeb;
}

.module-title {
    font-size: 150%;
}

#top-module {
    grid-area: top;
}

#left-module{
    grid-area: left;
}

#right-module{
    grid-area: right;
}


#bottom-module { 
    grid-area: btm;
}
