.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
  position: relative;
  background-color: #F6F6F7;
  margin: auto;
  padding: 20px 20px 20px 20px;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}

.modal-content input {
    border: 1px solid #ccc;
}

.modal-subheading {
    font-size:24px;
}

#closeSalesModal{
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

#closeSalesModal:hover,
#closeSalesModal:focus{
  color: black;
  text-decoration: none;
  cursor: pointer;
}

@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

/*Modal Content Divs*/
.modal-input-content {
    padding: 1.4vh 0px;
}

#modal-header {
    font-size:46px;
    width: 100%;
    left:0;
    margin-bottom: 20px;
    padding-bottom: 15px;
    border-bottom: 1px grey solid;
}


.modal-confirm-buttons {
    width:20%;
    position:absolute;
    right:0;
    bottom:0;
    text-align: right;
    justify-content: end;
    margin:10px;
}

.modal-footer-button {
    font-size: 18px;
    font-family: 'Lato', sans-serif;
    background-color: #E3E3E4;
    border: 1px #ccc solid;
    margin: 2px;
}

.modal-footer-button:hover {
    background-color: #eee;
}

.input-field {
    font-size: 18px;
    padding: 5px;
}

.input-field-number {
    font-size: 18px;
    padding: 5px;
}

.input-field-large {
    font-size: 18px;
    padding: 5px;
}

.required-tag {
    color:red;
}

.price-qualifier {
    font-size: 16px;
}

/*Name Content Styling*/
#name-input-content {
    display: grid;
}

#name-subheading {
    grid-row: 1;
    margin-bottom: 10px;
}

#add-name-field {
    grid-row:2;
}

#editNameInput {
    grid-row:2;
}

/*Quantity Content Styling*/
#quan-input-section {
    display: grid;
    width:30%;
    float:left;
}

#quan-subheading {
    grid-row: 1;
    margin-bottom: 10px;
}

#add-quan-field {
    grid-row:2;
    width:50%;
}

#editQuanInput {
    grid-row:2;
    width:50%;
}

/*Price Content Styling*/
#price-input-section {
    display: grid;
    width:30%;
}

#price-subheading {
    grid-row: 1;
    margin-bottom: 10px;
}

#add-price-field {
    grid-row:2;
    width:50%;
}

#editPriceInput {
    grid-row:2;
    width:50%;
}
